<!DOCTYPE html>
<html>
<head>
    <title>Signup Successful</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0; /* Optional background color */
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h2>Signup Successful!</h2>
        <p>Welcome, {{ username }}!</p>
        <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnNqYXo5emJ4bm9tMXVkNjkycWEzb2kwY2I1ZzduZ2ZkbTEwNG1xOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/39V1MUIJTDnNK/200.gif" alt="Success GIF">
        <p>Click <a href="/home">here</a> to login.</p>
    </div>
</body>
</html>
