name: Build and deplay code
'on':
  - push
  - pull_request
jobs:
  bhargav_api:
    runs-on: ubuntu-latest
    steps:
      - name: pulling git repo
        uses: actions/Checkout@v2
      - name: installing python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: installing all dependancies
        run: pip install -r requirements.txt
      - name: test with pytest
        run: |
          pip install pytest
          pytest -v
          pip install httpx